extends layout 
block content
    h2 Add Books
    p 
        a.button(href="/books/new") Create New Book
    h2= q ? 'Find More Books' : 'Find Books' 
    form(action="/search" method="GET")  
        p
            input(type="text" name="q" id="search-box" placeholder="Search The Library ...")     
            input.search-button(type="submit" value="🔍")  
    h2= q ? `Books That Match Your Search ("${q.toUpperCase()}")` : 'All Books'                          
    table 
        thead 
            tr 
                th Title 
                th Author 
                th Genre 
                th Year 
        tbody     
            each book in books 
                tr 
                    td 
                        a(href=`/books/${book.id}`) #{ book.title } 
                    td #{ book.author } 
                    td #{ book.genre } 
                    td #{ book.year }    
    if q 
        p 
            a.button(href="/") Go Back To All Books                