extends layout 
block content
    h2 Add Books
    p 
        a.button(href="/books/new") Create New Book
    h2= q ? 'Find More Books' : 'Find Books' 
    form(action="/search" method="GET")  
        p
            input(type="text" name="q" id="search-box" placeholder="Search The Library ...")     
            input.search-button(type="submit" value="🔍")         
    if q && !(numOfResults)
        h2 No Results 
        p Please Try Searching Something Else.
    else if !(numOfResults)
        h2 The Library Is Empty
        p There Are Currently No Books In The Library.    
    else 
        h2= q ? `Books That Match Your Search ("${q.toUpperCase()}")` : 'All Books'                      
        table 
            thead 
                tr 
                    th Title 
                    th Author 
                    th Genre 
                    th Year 
            tbody     
                each book in books 
                    tr 
                        td 
                            a(href=`/books/${book.id}`) #{ book.title } 
                        td #{ book.author } 
                        td #{ book.genre } 
                        td #{ book.year }  
        p.pagination-container                 
            - let i = 0;
            while i < numOfPages
                if q 
                    a(class=`${ i + 1 == page ? 'pagination-button active' : 'pagination-button' }` href=`/search?q=${q}&page=${++ i}`) #{ i } 
                else
                    a(class=`${ i + 1 == page ? 'pagination-button active' : 'pagination-button' }` href=`/books?page=${++ i}`) #{ i } 

    if q
        h2 Didn't Find What You Were Looking For?
        p 
            a.button(href="/") Go Back To All Books                